.footer{
    
}

.footer-main{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}
.footer-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    font-family: poppins;
    font-size: 14px;
    list-style: none;
}
.footer-ul-heading{
    font-family:poppins;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer-logo h1{
    font-family: Inter;
}
.footer-logo h4{
    font-weight: 400;
}