.footer{
    
}

.footer-main{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}
.footer-container{
    display: flex;
    flex-direction: row;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    font-family: poppins;
    font-size: 14px;
}
.footer-ul-heading{
    font-family:poppins;
    font-weight: 600;
}
.footer-logo h1{
    font-family: Inter;
}
.footer-logo h4{
    font-weight: 400;
}